**Group 26**

**Names**: student number

**Pedro Cerejeira**: 20230442<br>
**Diogo Reis**: ""<br>
**Marta Jesus**: ""

**1. Imports:**

In [ ]:
# Import Packages

import pandas as pd
import numpy as np

In [11]:
# Read/Import dataset

df = pd.read_csv('XYZ_sports_dataset.csv', delimiter = ';')
df

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,...,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
0,10000,60,Female,5500.0,2019-09-03,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1,...,0.0,9.0,7,NaN,6.28,2,0,0.0,0,0
1,10001,29,Female,2630.0,2014-08-12,2015-09-14,2015-01-01,2015-12-31,2015-07-16,60,...,0.0,23.0,1,2.0,17.42,1,2,0.0,0,1
2,10002,23,Male,1980.0,2017-05-02,2017-06-01,2017-01-01,2017-06-30,2017-05-25,7,...,0.0,6.0,0,7.0,30.03,6,0,0.0,0,1
3,10003,9,Male,0.0,2018-09-05,2019-02-12,2018-07-01,2019-06-30,2019-01-21,22,...,0.0,20.0,2,2.0,17.72,3,0,0.0,0,1
4,10004,35,Male,4320.0,2016-04-20,2018-06-07,2018-01-01,2018-06-30,2017-11-09,210,...,NaN,41.0,0,7.0,60.97,0,3,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14937,24937,14,Male,0.0,2016-09-08,2016-09-08,2019-07-01,2019-12-31,2019-10-29,2,...,0.0,112.0,96,4.0,34.84,8,3,0.0,0,0
14938,24938,39,Male,NaN,2015-09-17,2016-06-04,2016-01-01,2016-06-30,2016-04-27,38,...,0.0,57.0,0,7.0,60.97,3,0,0.0,0,1
14939,24939,20,Male,1810.0,2017-03-01,2017-03-31,2017-01-01,2017-06-30,2017-03-29,2,...,0.0,6.0,0,7.0,30.03,8,0,0.0,0,1
14940,24940,55,Male,4800.0,2018-03-01,2018-03-01,2019-07-01,2019-12-31,2019-10-28,3,...,0.0,185.0,155,3.0,15.87,7,2,0.0,0,0
14941,24941,32,Female,3700.0,2016-04-01,2019-06-11,2019-01-01,2019-06-30,2019-05-28,14,...,0.0,169.0,1,7.0,60.97,13,4,0.0,0,1

**2. Exploratory Analysis:**

In [6]:
# Exploring Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14942 entries, 0 to 14941
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          14942 non-null  int64
 1   Age                         14942 non-null  int64
 2   Gender                      14942 non-null  object
 3   Income                      14447 non-null  float64
 4   EnrollmentStart             14942 non-null  object
 5   EnrollmentFinish            14942 non-null  object
 6   LastPeriodStart             14942 non-null  object
 7   LastPeriodFinish            14942 non-null  object
 8   DateLastVisit               14942 non-null  object
 9   DaysWithoutFrequency        14942 non-null  int64
 10  LifetimeValue               14942 non-null  float64
 11  UseByTime                   14942 non-null  int64
 12  AthleticsActivities         14906 non-null  float64
 13  WaterActivities             14905 non-null  float64
 14  FitnessActivities           14907 non-null  float64
 15  DanceActivities             14906 non-null  float64
 16  TeamActivities              14907 non-null  float64
 17  RacketActivities            14905 non-null  float64
 18  CombatActivities            14909 non-null  float64
 19  NatureActivities            14895 non-null  float64
 20  SpecialActivities           14898 non-null  float64
 21  OtherActivities             14907 non-null  float64
 22  NumberOfFrequencies         14916 non-null  float64
 23  AttendedClasses             14942 non-null  int64
 24  AllowedWeeklyVisitsBySLA    14407 non-null  float64
 25  AllowedNumberOfVisitsBySLA  14942 non-null  float64
 26  RealNumberOfVisits          14942 non-null  int64
 27  NumberOfRenewals            14942 non-null  int64
 28  HasReferences               14930 non-null  float64
 29  NumberOfReferences          14942 non-null  int64
 30  Dropout                     14942 non-null  int64
dtypes: float64(16), int64(9), object(6)
memory usage: 3.5+ MB

Here we can conclude that the following columns' types must be changed to:

- **Income**: Int?
- **UseByTime**: Bool
- **AthleticsActivities**: Bool
- **WaterActivities**: Bool
- **FitnessActivities**: Bool
- **DanceActivities**: Bool
- **TeamActivities**: Bool
- **RacketActivities**: Bool
- **CombatActivities**: Bool
- **NatureActivities**: Bool
- **SpecialActivities**: Bool
- **OtherActivities**: Bool
- **NumberOfFrequencies**: Int?
- **AllowedWeeklyVisitsBySLA**: Int?
- **HasReferences**: Bool
- **Dropout**: Bool

In [7]:
# Change the data types of the columns

columns_to_change = {
    'Income': 'Int64',
    'UseByTime': 'bool',
    'AthleticsActivities': 'bool',
    'WaterActivities': 'bool',
    'FitnessActivities': 'bool',
    'DanceActivities': 'bool',
    'TeamActivities': 'bool',
    'RacketActivities': 'bool',
    'CombatActivities': 'bool',
    'NatureActivities': 'bool',
    'SpecialActivities': 'bool',
    'OtherActivities': 'bool',
    'NumberOfFrequencies': 'Int64',
    'AllowedWeeklyVisitsBySLA': 'Int64',
    'HasReferences': 'bool',
    'Dropout': 'bool'
}

df = df.astype(columns_to_change)

In [10]:
# Confirm the new column types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14942 entries, 0 to 14941
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          14942 non-null  int64
 1   Age                         14942 non-null  int64
 2   Gender                      14942 non-null  object
 3   Income                      14447 non-null  Int64
 4   EnrollmentStart             14942 non-null  object
 5   EnrollmentFinish            14942 non-null  object
 6   LastPeriodStart             14942 non-null  object
 7   LastPeriodFinish            14942 non-null  object
 8   DateLastVisit               14942 non-null  object
 9   DaysWithoutFrequency        14942 non-null  int64
 10  LifetimeValue               14942 non-null  float64
 11  UseByTime                   14942 non-null  bool
 12  AthleticsActivities         14942 non-null  bool
 13  WaterActivities             14942 non-null  bool
 14  FitnessActivities           14942 non-null  bool
 15  DanceActivities             14942 non-null  bool
 16  TeamActivities              14942 non-null  bool
 17  RacketActivities            14942 non-null  bool
 18  CombatActivities            14942 non-null  bool
 19  NatureActivities            14942 non-null  bool
 20  SpecialActivities           14942 non-null  bool
 21  OtherActivities             14942 non-null  bool
 22  NumberOfFrequencies         14916 non-null  Int64
 23  AttendedClasses             14942 non-null  int64
 24  AllowedWeeklyVisitsBySLA    14407 non-null  Int64
 25  AllowedNumberOfVisitsBySLA  14942 non-null  float64
 26  RealNumberOfVisits          14942 non-null  int64
 27  NumberOfRenewals            14942 non-null  int64
 28  HasReferences               14942 non-null  bool
 29  NumberOfReferences          14942 non-null  int64
 30  Dropout                     14942 non-null  bool
dtypes: Int64(3), bool(13), float64(2), int64(7), object(6)
memory usage: 2.3+ MB